/**
 * This is the shader canvas
 */

section#shader {
   p {
      text-align: center;
      width: 100px;
      font-family: sans-serif;
      pointer-events: none;
      background-color: papayawhip;
      color: dimgrey;
      padding: 5px;
      border-radius: 5px;
      font-size: 15px;
   }

   .view-container {
      width: 100%;
      height: 100%;
      margin: 0;
      flex-grow: 1;
      padding: 0;
   }

   .shader-canvas {
      width: 100%;
      height: 100%;
      padding: 0;
   }

   .shader-canvas-overlay {
      position: absolute;
   }
}


